{{ define "main" }}
  <div class="card-row">
    <div class="card">
      <div class="card-title">{{ .Title }}</div>
      <ul class="card-list">
        {{ range .Data.Terms.Alphabetical }}
          <li>
            <a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
            <span style="color:#aaa;font-size:0.95em;">{{ .Count }}</span>
          </li>
        {{ else }}
          <li style="color:#bbb;">{{ i18n "no-content" }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
{{ end }}